<div class="dashboard-header">
	<div class="row">
		<div class="col">
			<div class="header-inner">
				<div class="icon-block">
					<i class="icon-plus-square-outline success"></i>
				</div>
				<div class="title-block">
					<h3>Doctors Available</h3>
					<h5>50</h5>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="header-inner">
				<div class="icon-block">
					<i class="icon-person-done-outline warning"></i>
				</div>
				<div class="title-block">
					<h3>Visiting Doctors</h3>
					<h5>24</h5>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="header-inner">
				<div class="icon-block">
					<i class="icon-people-outline info"></i>
				</div>
				<div class="title-block">
					<h3>Total Patient</h3>
					<h5>1.5K</h5>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="header-inner">
				<div class="icon-block">
					<i class="icon-checkmark-square-outline danger"></i>
				</div>
				<div class="title-block">
					<h3>Total Inquiry</h3>
					<h5>2.3K</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="dashboard-wrapper">
		<h2>Appointment</h2>
		<img src="./assets/images/chart.jpg" alt="" />
	</div>
</div>
