<div class="patient-profle-wrapper">
	<div class="row">
		<div class="col-md-6">
			<div class="profile-block">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="photo-block">
							<img
								src="./assets/images/profile-dafault.jpg"
								alt=""
							/>
						</div>
						<h5>Sarah Lance</h5>
					</div>
					<div class="col-md-8">
						<div class="patient-info">
							<ul>
								<li>
									<div class="patient-info-heading">
										Email:
									</div>
									<p>sarahlance@gmail.com</p>
								</li>
								<li>
									<div class="patient-info-heading">
										Phone:
									</div>
									<p>5544332211</p>
								</li>
								<li>
									<div class="patient-info-heading">
										City:
									</div>
									<p>Kolkata</p>
								</li>
								<li>
									<div class="patient-info-heading">
										Address:
									</div>
									<p>55th street, Queen City</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-block profile-block-gradient">
				<div class="patient-info">
					<ul>
						<li>
							<div class="patient-info-heading">Birth:</div>
							<p>20th Jan, 1992</p>
						</li>
						<li>
							<div class="patient-info-heading">Blood:</div>
							<p>AB+</p>
						</li>
						<li>
							<div class="patient-info-heading">Age:</div>
							<p>47</p>
						</li>
						<li>
							<div class="patient-info-heading">Gender:</div>
							<p>Female</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-block profile-block-gradient">
				<div class="patient-info">
					<ul>
						<li>
							<div class="patient-info-heading">Disease:</div>
							<p>Daibetes</p>
						</li>
						<li>
							<div class="patient-info-heading">Problem:</div>
							<p>12/8/2022</p>
						</li>
						<li>
							<div class="patient-info-heading">Visied:</div>
							<p>No</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="patient-info-block">
				<h3>About Patient</h3>
				<p>
					Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s, when an unknown
					printer took a galley of type and scrambled it to make a
					type specimen book. It has survived not only five centuries,
					but also the leap into electronic typesetting, remaining
					essentially unchanged. It was popularised in the 1960s with
					the release of Letraset sheets containing Lorem Ipsum
					passages, and more recently with desktop publishing software
					like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="patient-info-block">
				<h3>General Report</h3>
				<div class="progress-area">
					<div class="progress-block">
						<h6>Heart Beat</h6>
						<div class="progress">
							<div
								class="progress-bar bg-success"
								style="width: 70%"
							>
								70%
							</div>
						</div>
					</div>
					<div class="progress-block">
						<h6>Blood Pressure</h6>
						<div class="progress">
							<div
								class="progress-bar bg-info"
								style="width: 62%"
							>
								62%
							</div>
						</div>
					</div>
					<div class="progress-block">
						<h6>Sugar55</h6>
						<div class="progress">
							<div
								class="progress-bar bg-warning"
								style="width: 88%"
							>
								88%
							</div>
						</div>
					</div>
					<div class="progress-block">
						<h6>Haemoglobin78</h6>
						<div class="progress">
							<div
								class="progress-bar bg-danger"
								style="width: 45%"
							>
								45%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
