<section class="content">
	<div class="form-block">
		<form
			[formGroup]="changePasswordForm"
			(ngSubmit)="changePasswordSubmit()"
		>
			<div class="form-group-block">
				<label for="">Current Password <sup>*</sup></label>
				<div class="formcontrol-wrapper">
					<input
						#inputFocus
						type="password"
						class="formcontrol"
						placeholder="Enter Your Current Password"
						[autocompleteOff]="'off'"
						formControlName="old_password"
						[type]="toggleInputTypeCurrent ? 'text' : 'password'"
						[class.invalid-control]="
							hasFormControlError('old_password')
						"
						onkeydown="if(event.key===' '){event.preventDefault();}"
					/>
					<span
						[class]="
							toggleInputTypeCurrent
								? 'icon-eye-off-outline'
								: 'icon-eye-outline'
						"
						(click)="
							toggleInputTypeCurrent = !toggleInputTypeCurrent
						"
					></span>
				</div>
				<ng-container *ngIf="hasFormControlError('old_password')">
					<div
						[@fadeInOut]
						class="error-message"
						*ngIf="formcontrol['old_password'].hasError('required')"
					>
						<p>Please Enter Your Old Password</p>
					</div>
				</ng-container>
			</div>
			<div class="form-group-block">
				<label for="">New Password <sup>*</sup></label>
				<div class="formcontrol-wrapper">
					<input
						type="password"
						class="formcontrol"
						placeholder="Enter Your New Password"
						[autocompleteOff]="'off'"
						formControlName="new_password"
						[type]="toggleInputTypeNew ? 'text' : 'password'"
						[class.invalid-control]="
							hasFormControlError('new_password')
						"
						onkeydown="if(event.key===' '){event.preventDefault();}"
					/>
					<span
						[class]="
							toggleInputTypeNew
								? 'icon-eye-off-outline'
								: 'icon-eye-outline'
						"
						(click)="toggleInputTypeNew = !toggleInputTypeNew"
					></span>
				</div>
				<ng-container *ngIf="hasFormControlError('new_password')">
					<div
						[@fadeInOut]
						class="error-message"
						*ngIf="formcontrol['new_password'].hasError('required')"
					>
						<p>Please Enter Your New Password</p>
					</div>
				</ng-container>
			</div>
			<div class="form-group-block">
				<label for="">Confirm Password <sup>*</sup></label>
				<div class="formcontrol-wrapper">
					<input
						type="password"
						class="formcontrol"
						placeholder="Enter Your Confirm Password"
						[autocompleteOff]="'off'"
						formControlName="con_password"
						[type]="toggleInputTypeConfirm ? 'text' : 'password'"
						[class.invalid-control]="
							hasFormControlError('new_password')
						"
						onkeydown="if(event.key===' '){event.preventDefault();}"
					/>
					<span
						[class]="
							toggleInputTypeConfirm
								? 'icon-eye-off-outline'
								: 'icon-eye-outline'
						"
						(click)="
							toggleInputTypeConfirm = !toggleInputTypeConfirm
						"
					></span>
				</div>
				<ng-container *ngIf="hasFormControlError('con_password')">
					<div
						[@fadeInOut]
						class="error-message"
						*ngIf="formcontrol['con_password'].hasError('required')"
					>
						<p>Please Enter Your Confirm Password</p>
					</div>
					<div
						[@fadeInOut]
						class="error-message"
						*ngIf="
							formcontrol['con_password'].hasError('mustMatch')
						"
					>
						<p>Passwords Must Match.</p>
					</div>
				</ng-container>
			</div>
			<div class="footer-submit">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-danger" (click)="backTo()">
					Cancel
				</button>
			</div>
		</form>
	</div>
</section>
