@import 'partials';

.list-table thead tr th,
.list-table tbody tr td {
	width: 52%;
}
.list-table thead tr th:first-child,
.list-table tbody tr td:first-child {
	width: 32%;
}

.list-table thead tr th:last-child,
.list-table tbody tr td:last-child {
	width: 16%;
}
.list-table tbody tr td a {
	padding-left: 22px;
}
.list-table tbody tr td span {
	padding: 3px 6px 4px;
	background: #5379ea;
	border-radius: 4px;
	color: #fff;
	margin-right: 3px;
	margin-bottom: 3px;
	font-weight: 400;
}
