<div class="dashboard-header">
	<div class="header-inner">
		<div class="header-left">
			<form [formGroup]="paymentQueryForm">
				<div class="sort-block">
					<select
						class="formcontrol"
						formControlName="sort_by"
						(change)="getPaymentListData()"
					>
						<option value="" selected hidden>Sort By</option>
						<option value="ASC">A-Z</option>
						<option value="DESC">Z-A</option>
						<option value="rcnt">Most Recent</option>
					</select>
					<i class="icon-chevron-down-outline"></i>
				</div>
				<div class="status-block">
					<select
						class="formcontrol"
						formControlName="filter_by"
						(change)="getPaymentListData()"
					>
						<option value="">Filter BY</option>
						<option value="Y">Paid</option>
						<option value="N">Unpaid</option>
					</select>
					<i class="icon-chevron-down-outline"></i>
				</div>
				<div class="search-block">
					<input
						type="text"
						class="formcontrol"
						placeholder="Search by Name"
						formControlName="search_str"
						(keyup.enter)="getPaymentListData()"
					/>

					<i
						class="icon-search-outline"
						(click)="getPaymentListData()"
					></i>
				</div>
				<div class="reset-block" (click)="onResetUser()">
					<i class="icon-refresh-outline"></i>
				</div>
			</form>
		</div>
		<div class="header-right">
			<a class="btn btn-primary-outline" [routerLink]="['/payments/add']"
				>Add Payment</a
			>
		</div>
	</div>
</div>

<!-- Table Area -->
<!-- Main content -->
<section class="content">
	<div class="list-area">
		<table class="table list-table mb-0">
			<thead>
				<tr>
					<th>Patient Name</th>
					<th>Contact</th>
					<th>Disease</th>
					<th>Payment Date</th>
					<th>Total Amount</th>
					<th>Payment Mode</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody *ngIf="totalRecords; else noRecordsBlock">
				<tr
					*ngFor="
						let data of paymentList
							| paginate
								: {
										itemsPerPage: page_size,
										currentPage: page_no,
										totalItems: totalRecords
								  };
						let i = index;
						trackBy: trackByIndex
					"
				>
					<td>
						<div class="name-area">
							<p>{{ data.name }}</p>
						</div>
					</td>
					<td>{{ data.contact }}</td>
					<td>{{ data.service_name }}</td>
					<td>{{ data.payment_date }}</td>
					<td>{{ data.amount }}/-</td>
					<td [ngSwitch]="data.payment_mode">
						<ng-container *ngSwitchCase="'DC'">
							Debit Card
						</ng-container>
						<ng-container *ngSwitchCase="'CC'">
							Credit Card
						</ng-container>
						<ng-container *ngSwitchCase="'C'"> Cash </ng-container>
					</td>
					<td>
						<div
							class="list-status-block"
							[ngClass]="{
								'status-active': data.payment_status === 'Paid',
								'status-inactive':
									data.payment_status === 'Unpaid'
							}"
						></div>
						{{ data.payment_status == 'Paid' ? 'Paid' : 'Unpaid' }}
					</td>
					<td>
						<a
							title="Edit"
							class="edit-icon"
							[routerLink]="[
								'/payments/edit/' +
									data.name.toLowerCase().split(' ').join(''),
								data.payment_id
							]"
							><i class="icon-edit-outline"></i
						></a>
						<a
							title="Delete"
							class="delete-icon"
							(click)="onDeletePayment(data.payment_id)"
							><i class="icon-trash-2-outline"></i
						></a>
					</td>
				</tr>
			</tbody>
			<ng-template #noRecordsBlock>
				<tbody>
					<tr class="norecords-block">
						<td colspan="7">No Records Found</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</section>
<div class="pagination-area">
	<div class="row" *ngIf="totalRecords">
		<div class="col-md-3 position-relative">
			<select (change)="onPageSizeChange($event)" class="custom-select">
				<option *ngFor="let size of pageSizes" [ngValue]="size">
					{{ size }}
				</option>
			</select>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="col-md-9 text-right">
			<pagination-controls
				previousLabel="Previous"
				nextLabel="Next"
				(pageChange)="onPageNoChange($event)"
			>
			</pagination-controls>
		</div>
	</div>
</div>
<!-- Main content End -->
