@import 'partials';

.auth-heading {
	margin-bottom: 40px;
	text-align: $text-center;
	h1 {
		font-family: $font-primary;
		font-weight: $font-semibold;
		font-size: $text-4xl;
		line-height: $leading-8;
		text-transform: $capitalize;
		color: $color-primary;
	}
}
.auth-formcontrol-wrapper span {
	position: $absolute;
	right: 1.2rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: $text-lg;
	line-height: $leading-none;
	color: $color-gray-400;
	cursor: $cursor-pointer;
	@include transition;
}
.auth-formcontrol-wrapper span:hover {
	color: $color-primary-dark;
}

/* Success Style */
.success-heading {
	margin-bottom: 65px;
	display: $flex;
	align-items: $items-center;
	justify-content: $justify-center;
	text-align: $text-center;
}
.success-heading h4 {
	font-size: $text-4xl;
	font-weight: $font-bold;
	line-height: $leading-tight;
	color: $color-primary;
	text-transform: $uppercase;
	margin-left: 24px;
}
.success-wrapper p {
	font-size: $text-2xl;
	font-weight: $font-semibold;
	line-height: $leading-tight;
	color: $color-black-100;
	text-align: $text-center;
}
.success-wrapper p span {
	display: $block;
}
.success-btn {
	margin-top: 65px;
}
