<ng-container *ngIf="resetType == 1">
	<div class="auth-heading">
		<h1>Reset Password</h1>
	</div>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
		<div class="auth-form-group">
			<label>New Password</label>
			<div class="auth-formcontrol-wrapper">
				<input
					class="auth-formcontrol"
					placeholder="Enter New Password"
					[autocompleteOff]="'off'"
					formControlName="new_password"
					[type]="toggleInputType ? 'text' : 'password'"
					[class.auth-invalid-control]="
						hasFormControlError('new_password')
					"
					onkeydown="if(event.key===' '){event.preventDefault();}"
				/>
				<span
					[class]="
						toggleInputType
							? 'icon-eye-off-outline'
							: 'icon-eye-outline'
					"
					(click)="toggleInputType = !toggleInputType"
				></span>
			</div>
			<ng-container *ngIf="hasFormControlError('new_password')">
				<div
					[@fadeInOut]
					class="auth-error-message"
					*ngIf="formcontrol['new_password'].hasError('required')"
				>
					<p>Please Enter Your New Password</p>
				</div>
			</ng-container>
		</div>
		<div class="auth-form-group">
			<label>Confirm Password</label>
			<div class="auth-formcontrol-wrapper">
				<input
					class="auth-formcontrol"
					placeholder="Enter Confirm Password"
					[autocompleteOff]="'off'"
					formControlName="con_password"
					[type]="toggleInputTypeConfirm ? 'text' : 'password'"
					[class.auth-invalid-control]="
						hasFormControlError('con_password')
					"
					onkeydown="if(event.key===' '){event.preventDefault();}"
				/>
				<span
					[class]="
						toggleInputTypeConfirm
							? 'icon-eye-off-outline'
							: 'icon-eye-outline'
					"
					(click)="toggleInputTypeConfirm = !toggleInputTypeConfirm"
				></span>
			</div>
			<ng-container *ngIf="hasFormControlError('con_password')">
				<div
					[@fadeInOut]
					class="auth-error-message"
					*ngIf="formcontrol['con_password'].hasError('required')"
				>
					<p>Please Enter Your Confirm Password</p>
				</div>
				<div
					[@fadeInOut]
					class="auth-error-message"
					*ngIf="formcontrol['con_password'].hasError('mustMatch')"
				>
					<p>Passwords Must Match.</p>
				</div>
			</ng-container>
		</div>
		<div class="auth-form-submit">
			<button type="submit">Reset</button>
		</div>
	</form>
	<div class="back-to-login">
		<a [routerLink]="['/login']">Back To Login</a>
	</div>
</ng-container>

<ng-container *ngIf="resetType == 2">
	<div class="success-wrapper">
		<div class="success-heading">
			<img
				src="./assets/images/success-tick-icon.svg"
				width="40"
				height="40"
				alt=""
			/>
			<h4>Congratulations!</h4>
		</div>
		<p>Your password has been <span>reset successfully.</span></p>
		<div class="auth-form-submit success-btn">
			<button [routerLink]="['/login']">Login</button>
		</div>
	</div>
</ng-container>
