<!-- Custom Confirmation Dialog -->
<ng-container *ngIf="isDialogOpen">
	<div class="modal-dialog">
		<button
			class="close-modal-dialog"
			(click)="confirmMessageInfo.reject(); isDialogOpen = false"
		>
			&times;
		</button>
		<img [src]="confirmMessageInfo.icon" alt="" />
		<p>{{ confirmMessageInfo.message }}</p>
		<div class="button-area">
			<button
				type="button"
				class="btn btn-primary"
				(click)="confirmMessageInfo.accept(); isDialogOpen = false"
			>
				Yes
			</button>
			<button
				type="button"
				class="btn btn-danger"
				(click)="confirmMessageInfo.reject(); isDialogOpen = false"
			>
				No
			</button>
		</div>
	</div>
	<div
		class="overlay-backdrop"
		(click)="confirmMessageInfo.reject(); isDialogOpen = false"
	></div>
</ng-container>
