@import 'partials';

.page-heading {
	margin-bottom: 48px;
}
.page-heading h4 {
	color: $color-black-100;
	font-size: 17px;
	font-weight: $font-medium;
	line-height: $leading-none;
}
.patient-wrapper-box {
	padding: 30px 30px 32px 30px;
	position: $relative;
}

/* Form Style */
.sidebar-tab-area label {
	font-weight: $font-medium;
}
.formcontrol-wrapper i {
	position: $absolute;
	right: 1.2rem;
	top: 50%;
	transform: translateY(-50%);
	color: $color-gray-400;
	cursor: $cursor-pointer;
	pointer-events: none;
	font-size: $text-2xl;
}
.footer-submit {
	margin-top: 15px;
	display: $flex;
	justify-content: $justify-end;
}
.footer-submit button:last-child {
	margin-left: 12px;
}
