<section class="content">
	<div class="wrapper-box">
		<div class="page-heading">
			<h4>Add Patient Details</h4>
		</div>
		<div class="sidebar-content-bot">
			<div class="sidebar-tab-header">
				<ul>
					<li
						[class.active]="activeIndex === 0"
						(click)="activeIndex = 0"
					>
						<a>
							<span class="step"
								><i class="icon-plus-circle-outline"></i
							></span>
							<p>Step One</p>
						</a>
					</li>
					<li
						[class.active]="activeIndex === 1"
						(click)="activeIndex = 1"
					>
						<a>
							<span class="step"
								><i class="icon-plus-circle-outline"></i
							></span>
							<p>Step Two</p>
						</a>
					</li>
					<li
						[class.active]="activeIndex === 2"
						(click)="activeIndex = 2"
					>
						<a
							><span class="step"
								><i class="icon-plus-circle-outline"></i
							></span>
							<p>Step Three</p></a
						>
					</li>
				</ul>
			</div>
			<div class="sidebar-tab-area">
				<form
					[formGroup]="addPatientForm"
					(ngSubmit)="onPatientFormSubmit()"
				>
					<div class="sidebar-tab-block" *ngIf="activeIndex === 0">
						<div class="patients-wrapper-block">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group-block">
										<label for="">Name <sup>*</sup></label>
										<div class="formcontrol-wrapper">
											<input
												type="text"
												class="formcontrol"
												placeholder="Enter Your Name"
												formControlName="name"
												[class.invalid-control]="
													hasFormControlError('name')
												"
											/>
										</div>
										<ng-container
											*ngIf="hasFormControlError('name')"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'name'
													].hasError('required')
												"
											>
												<p>Please Enter Your Name</p>
											</div>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'name'
													].hasError('pattern')
												"
											>
												<p>Please Enter a Valid Name</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for="">Email <sup>*</sup></label>
										<div class="formcontrol-wrapper">
											<input
												type="email"
												class="formcontrol"
												placeholder="Enter Your Email"
												[autocompleteOff]="'off'"
												formControlName="email"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'email'
														)
												}"
												onkeydown="if(event.key===' '){event.preventDefault();}"
											/>
										</div>
										<ng-container
											*ngIf="hasFormControlError('email')"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'email'
													].hasError('required')
												"
											>
												<p>Please Enter Your Email</p>
											</div>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'email'
													].hasError('pattern')
												"
											>
												<p>
													Please Enter a Valid Email
												</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for=""
											>Phone Number <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<input
												type="text"
												class="formcontrol"
												placeholder="Enter Your Phone Number"
												[autocompleteOff]="'off'"
												formControlName="phone_number"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'phone_number'
														)
												}"
												onkeydown="if(event.key===' '){event.preventDefault();}"
											/>
										</div>
										<ng-container
											*ngIf="
												hasFormControlError(
													'phone_number'
												)
											"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'phone_number'
													].hasError('required')
												"
											>
												<p>
													Please Enter Your Phone
													Number
												</p>
											</div>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'phone_number'
													].hasError('pattern')
												"
											>
												<p>
													Please Enter a Valid Phone
													Number
												</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for="">City <sup>*</sup></label>
										<div class="formcontrol-wrapper">
											<select
												class="formcontrol"
												formControlName="city"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'city'
														)
												}"
											>
												<option
													disabled
													selected
													value=""
												>
													Select City
												</option>
												<option
													*ngFor="let city of cities"
													[value]="city.label"
												>
													{{ city.label }}
												</option>
											</select>
											<i
												class="icon-chevron-down-outline"
											></i>
										</div>
										<ng-container
											*ngIf="hasFormControlError('city')"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'city'
													].hasError('required')
												"
											>
												<p>Please Select Your City</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for=""
											>Address <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<input
												type="text"
												class="formcontrol"
												placeholder="Enter Your Address"
												formControlName="address"
												[class.invalid-control]="
													hasFormControlError(
														'address'
													)
												"
											/>
										</div>
										<ng-container
											*ngIf="
												hasFormControlError('address')
											"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'address'
													].hasError('required')
												"
											>
												<p>Please Enter Your Address</p>
											</div>
										</ng-container>
									</div>
								</div>
							</div>
							<div class="footer-submit">
								<button
									type="button"
									class="btn btn-primary"
									(click)="activeIndex = 1"
								>
									Next
								</button>
							</div>
						</div>
					</div>
					<div class="sidebar-tab-block" *ngIf="activeIndex === 1">
						<div class="patients-wrapper-block">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group-block">
										<label for=""
											>Date of Birth <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<input
												type="text"
												placeholder="Date of Birth"
												class="formcontrol"
												formControlName="dob"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'dob'
														)
												}"
												bsDatepicker
												[bsConfig]="{
													customTodayClass:
														'custom-today-date',
													dateInputFormat:
														'DD/MM/YYYY'
												}"
											/>
											<i
												class="icon-calendar-outline"
											></i>
										</div>
										<ng-container
											*ngIf="hasFormControlError('dob')"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol['dob'].hasError(
														'required'
													)
												"
											>
												<p>
													Please Select Your Date Of
													Birth
												</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for="">Age <sup>*</sup></label>
										<div class="formcontrol-wrapper">
											<input
												type="text"
												class="formcontrol"
												placeholder="Enter Your Age"
												formControlName="age"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'age'
														)
												}"
												onkeydown="if(event.key===' '){event.preventDefault();}"
											/>
										</div>
										<ng-container
											*ngIf="hasFormControlError('age')"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol['age'].hasError(
														'required'
													)
												"
											>
												<p>Please Enter Your Age</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<label for=""
											>Blood Group <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<select
												class="formcontrol"
												formControlName="blood_group"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'blood_group'
														)
												}"
											>
												<option
													disabled
													selected
													value=""
												>
													Select Blood Group
												</option>
												<option
													*ngFor="
														let blood of bloodGroups
													"
													[value]="blood.label"
												>
													{{ blood.label }}
												</option>
											</select>
											<i
												class="icon-chevron-down-outline"
											></i>
										</div>
										<ng-container
											*ngIf="
												hasFormControlError(
													'blood_group'
												)
											"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'blood_group'
													].hasError('required')
												"
											>
												<p>
													Please Select Your Blood
													Group
												</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div
										class="form-group-block form-group-block-gender"
									>
										<label for=""
											>Gender <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<div
												class="custom-radio-button"
												*ngFor="let data of gender"
											>
												<input
													type="radio"
													name="gender"
													id="{{ data.label }}"
													[value]="data.value"
													formControlName="gender"
												/>
												<label for="{{ data.label }}">{{
													data.label
												}}</label>
											</div>
											<ng-container
												*ngIf="
													hasFormControlError(
														'gender'
													)
												"
											>
												<div
													[@fadeInOut]
													class="error-message error-message-gender"
													*ngIf="
														formcontrol[
															'gender'
														].hasError('required')
													"
												>
													<p>
														Please Select Your
														Gender
													</p>
												</div>
											</ng-container>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group-block">
										<div class="global-form-group">
											<label>Upload</label>
											<div class="formcontrol-wrapper">
												<div
													class="upload-wrap formcontrol"
												>
													<label for="inp">{{
														imageFileName
															? imageFileName
															: 'Browse image'
													}}</label>

													<div class="upload-box">
														<img
															src="./assets/images/upload-icon.svg"
															width="18px"
															height="13px"
															alt="upload file"
															loading="lazy"
														/>
														<input
															id="inp"
															type="file"
															accept="image/png, image/jpg, image/jpeg"
															(change)="
																onFileselect(
																	$event
																)
															"
														/>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footer-submit">
								<button
									type="button"
									class="btn btn-secondary"
									(click)="activeIndex = 0"
								>
									Previous
								</button>
								<button
									type="button"
									class="btn btn-primary"
									(click)="activeIndex = 2"
								>
									Next
								</button>
							</div>
						</div>
					</div>
					<div class="sidebar-tab-block" *ngIf="activeIndex === 2">
						<div class="patients-wrapper-block">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group-block">
										<label for=""
											>Disease <sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<select
												class="formcontrol"
												formControlName="service_name"
												[ngClass]="{
													'invalid-control':
														hasFormControlError(
															'service_name'
														)
												}"
											>
												<option
													disabled
													selected
													value=""
												>
													Select Service
												</option>
												<option
													*ngFor="
														let service of serviceList
													"
													[value]="service.id"
												>
													{{ service.name }}
												</option>
											</select>
											<i
												class="icon-chevron-down-outline"
											></i>
										</div>
										<ng-container
											*ngIf="
												hasFormControlError(
													'service_name'
												)
											"
										>
											<div
												[@fadeInOut]
												class="error-message"
												*ngIf="
													formcontrol[
														'service_name'
													].hasError('required')
												"
											>
												<p>
													Please Select Your Service
													Name
												</p>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-6">
									<div
										class="form-group-block form-group-block-gender"
									>
										<label for=""
											>Has patient ever visited before
											<sup>*</sup></label
										>
										<div class="formcontrol-wrapper">
											<div
												class="custom-radio-button"
												*ngFor="let data of visites"
											>
												<input
													type="radio"
													name="visited"
													id="{{ data.label }}"
													[value]="data.value"
													formControlName="visited"
													(change)="
														(onSelectValidation)
													"
												/>
												<label for="{{ data.label }}">{{
													data.label
												}}</label>
											</div>
											<ng-container
												*ngIf="
													hasFormControlError(
														'visited'
													)
												"
											>
												<div
													[@fadeInOut]
													class="error-message error-message-gender"
													*ngIf="
														formcontrol[
															'visited'
														].hasError('required')
													"
												>
													<p>
														Please Select Your Entry
													</p>
												</div>
											</ng-container>
										</div>
									</div>
								</div>
								<ng-container
									*ngIf="formcontrol['visited'].value == 'Y'"
								>
									<div class="col-md-6">
										<div class="form-group-block">
											<label for=""
												>Previous Visit?
												<sup>*</sup></label
											>

											<div class="formcontrol-wrapper">
												<input
													type="text"
													placeholder="Select Date"
													class="formcontrol"
													formControlName="visited_date"
													[ngClass]="{
														'invalid-control':
															hasFormControlError(
																'visited_date'
															)
													}"
													bsDatepicker
													[bsConfig]="{
														customTodayClass:
															'custom-today-date',
														dateInputFormat:
															'DD/MM/YYYY'
													}"
												/>
												<i
													class="icon-calendar-outline"
												></i>
											</div>
											<ng-container
												*ngIf="
													hasFormControlError(
														'visited_date'
													)
												"
											>
												<div
													[@fadeInOut]
													class="error-message"
													*ngIf="
														formcontrol[
															'visited_date'
														].hasError('required')
													"
												>
													<p>
														Please Select Visited
														Date
													</p>
												</div>
											</ng-container>
										</div>
									</div>
								</ng-container>
							</div>
							<div class="footer-submit">
								<button
									type="button"
									class="btn btn-secondary"
									(click)="activeIndex = 1"
								>
									Previous
								</button>
								<button type="submit" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
