@import 'partials';

.page-heading {
	margin-bottom: 48px;
}
.page-heading h4 {
	color: $color-black-100;
	font-size: 17px;
	font-weight: $font-medium;
	line-height: $leading-none;
}
.patient-wrapper-box {
	padding: 30px 30px 32px 30px;
	position: $relative;
}

/* Form Style */
.sidebar-tab-area label {
	font-weight: $font-medium;
}
.formcontrol-wrapper i {
	position: $absolute;
	right: 1.2rem;
	top: 50%;
	transform: translateY(-50%);
	color: $color-gray-400;
	cursor: $cursor-pointer;
	pointer-events: none;
	font-size: $text-2xl;
}
.footer-submit {
	margin-top: 15px;
	display: $flex;
	justify-content: $justify-end;
}
.footer-submit button:last-child {
	margin-left: 12px;
}

/* Upload Image */
.upload-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: transparent;
	padding: 0px;
	padding-right: 12px;
	cursor: pointer;
	position: relative;
	label {
		font-size: 13px;
		font-weight: 500;
		color: #222b45;
		opacity: 50%;
		display: flex;
		align-items: center;
		width: calc(100% - 30px);
		height: 100%;
		padding: 8px 12px 0px 12px;
		cursor: pointer;
	}
}
.upload-box {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3366ff;
	border-radius: 50%;
	opacity: 1;
	position: relative;
	cursor: pointer;
	img {
		cursor: pointer;
	}
	input[type='file'] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
}

.error-message-gender {
	left: 0;
	right: auto;
	bottom: -40px;
	&:after,
	&:before {
		left: 40px;
		right: auto;
	}
}
