<div class="auth-heading">
	<h1>Forgot Password</h1>
	<p>
		Enter your email address and we’ll send you an OTP
		<span>to reset your password.</span>
	</p>
</div>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPasswordSubmit()">
	<div class="auth-form-group">
		<label>Email</label>
		<div class="auth-formcontrol-wrapper">
			<input
				type="email"
				class="auth-formcontrol"
				placeholder="Enter Your Email"
				[autocompleteOff]="'off'"
				formControlName="email"
				[ngClass]="{
					'auth-invalid-control': hasFormControlError('email')
				}"
				onkeydown="if(event.key===' '){event.preventDefault();}"
			/>
			<span class="icon-email-outline"></span>
		</div>
		<ng-container *ngIf="hasFormControlError('email')">
			<div
				[@fadeInOut]
				class="auth-error-message"
				*ngIf="formcontrol.hasError('required')"
			>
				<p>Please Enter Your Email</p>
			</div>
			<div
				[@fadeInOut]
				class="auth-error-message"
				*ngIf="formcontrol.hasError('pattern')"
			>
				<p>Please Enter a Valid Email</p>
			</div>
		</ng-container>
	</div>
	<div class="auth-form-submit">
		<button type="submit">Reset Password</button>
	</div>
</form>
<div class="back-to-login">
	<a [routerLink]="['/login']">Back To Login</a>
</div>
