@import 'partials';

.auth-heading {
	margin-bottom: 35px;
	text-align: $text-center;
	h1 {
		margin-bottom: 40px;
		font-family: $font-primary;
		font-weight: $font-semibold;
		font-size: $text-4xl;
		line-height: $leading-8;
		text-transform: $capitalize;
		color: $color-primary;
	}
	p {
		color: $color-black-100;
		font-weight: $font-medium;
		font-size: $text-md;
		line-height: $leading-5;
		span {
			display: $block;
		}
	}
}
.auth-formcontrol-wrapper span {
	position: $absolute;
	right: 1.2rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: $text-lg;
	line-height: $leading-none;
	color: $color-gray-400;
	@include transition;
}
.auth-form-submit button {
	font-size: $text-lg;
}
