/* Primary and Theme Colors */
$color-primary: #3366ff;
$color-primary-dark: #1c4fe7;
$color-primary-light: #598bff;
$color-transparent: transparent;
$color-secondary: #999999;
$color-secondary-dark: #6c757d;
// $color-brand: #eb9b6a;
// $color-brand-dark: #d68552;
// $color-brand-light: #fbd8b8;

/* Grey Scale */
$color-gray-900: #2a2a36;
$color-gray-800: #8f9bb3;
$color-gray-700: #cccccc;
$color-gray-650: #dee2e6;
$color-gray-600: #696969;
$color-gray-550: #6b6f82;
$color-gray-500: #777777;
$color-gray-450: #737374;
$color-gray-400: #8d8d8d;
$color-gray-350: #f8f8f8;
$color-gray-300: #9ea2ad;
$color-gray-250: #d8d8d8;
$color-gray-200: #bec2cd;
$color-gray-150: #edf1f7;
$color-gray-100: #e9e9e9;

/* Generic Colors */
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-black-100: #222b45;
$color-black-200: #1f2d3d;
$color-black-300: #464855;

$color-green-100: #28d094;

$color-orange-100: #ff9149;

/* Toaster colors */
$success-bg: #dbf8e8;
$success-title: #0b2e13;
$success-message: #118646;

$error-bg: #ffe4e4;
$error-title: #911111;
$error-message: #ce2525;

$color-success: #28d094;
$color-warning: #ff9149;
$color-info: #1e9ff2;
$color-danger: #ff4961;
$color-danger-dark: #f4334d;
