@import 'partials';

.auth-outer {
	padding: 0px 45px;
	background: $color-gray-350;
	height: 100vh;
	display: $flex;
	align-items: $items-center;
	justify-content: $justify-center;
	max-width: 1330px;
	margin: 0 auto;
}
.auth-inner {
	display: $flex;
	align-items: $items-center;
	justify-content: $justify-center;
	background: $color-white;
	border-radius: $rounded-2xl;
	overflow: $overflow-hidden;
	box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
	height: 630px;
	min-height: 630px;
	width: $full;
}
.auth-left-panel {
	width: 48%;
	height: $full;
	position: $relative;
	img {
		height: $full;
		width: $full;
		object-fit: cover;
	}
}
.leftpanel-inner {
	position: $absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: $text-center;
	left: $no-px;
	right: $no-px;
	padding: 0px 15px;
	max-width: 520px;
	width: 95%;
	margin: $no-px auto;
	h1 {
		text-transform: $uppercase;
		color: $color-white;
		font-size: $text-6xl;
		font-weight: $font-regular;
		line-height: $leading-none;
		letter-spacing: 0.5px;
		margin-bottom: 30px;
	}
	p {
		color: $color-white;
		font-size: 15px;
		font-weight: $font-light;
		line-height: 23px;
	}
}
.logo-block {
	width: 164px;
	margin: 0 auto 34px;
	a {
		display: $block;
	}
}
.auth-right-panel {
	width: 52%;
	padding-bottom: 15px;
}
.auth-container {
	max-width: 530px;
	margin: 0 auto;
	position: $relative;
}
